<section class="journey">
    <h2 class="section-heading">My Journey</h2>
    <section class="journey-lines">
        <div class="line-yellow"></div>
        <div class="line-blue"></div>
        <div class="circle-blue">
            <div class="circle-blue-inner-wrap">
                <div class="circle-blue-inner"></div>
            </div>
        </div>
        <div class="line-blue-half"></div>
        <div class="line-red"></div>
        <div class="square-red"></div>
        <div class="label-architecture text-blue">
            <div class="text-blue">Architecture</div>
            <ul class="text-white">
                <li>MA Hons Architecture (1st Class)</li>
                <li>~ 2 yrs Industry experience</li>
            </ul>
        </div>
        <div class="label-dev text-red">
            <div class="text-red">Web Dev</div>
            <ul class="text-white">
                <li>~ 0.5 Months Bootcamp</li>
                <li>~ 1yrs Personal Projects</li>
                <li>~ 0.5yrs Freelance</li>
            </ul>
        </div>
    </section>
    <section class="carousel-container">
        <div class="carousel" style="transform: translateX(-100%)">
            <div class="carousel-item" style="opacity: 0.5">
                <!-- Content for Slide 1 -->
                <div class="circle bg-yellow"></div>
                <div class="journey-image-container">
                    <img
                        src="/assets/images/landing-art.jpg"
                        alt="digital painting created by Andrew Dang"
                    />
                </div>
                <p>
                    As far back as I can remember, I’ve always enjoyed creating
                    — whether through painting, drawing, video, or sculpture.
                    With a natural eye for design and strong problem-solving
                    skills, I decided to pursue architecture as a way to combine
                    both passions.
                </p>
            </div>
            <div class="carousel-item">
                <!-- Content for Slide 2 -->
                <div class="circle bg-blue"></div>
                <div class="journey-image-container">
                    <img
                        src="/assets/images/landing-architecture.jpg"
                        alt="Architecture uni work by Andrew Dang"
                    />
                </div>
                <p>
                    The foundation for my career in web development was a degree
                    in Architecture, where I developed design thinking skills,
                    problem-solving skills, and attention to detail. During my
                    time across university and industry, I developed a passion
                    for user-centric design and efficient solutions. My
                    background allows me to approach technical challenges both
                    creatively and analytically.
                </p>
            </div>
            <div class="carousel-item" style="opacity: 0.5">
                <!-- Content for Slide 3 -->
                <div class="circle bg-red"></div>
                <p>
                    Although I initially enjoyed working in architecture, I soon
                    realised that the reality of the field didn’t offer as much
                    creativity or engaging problem-solving as I had hoped. Much
                    of my work with CAD drawings and models felt like I was
                    working on auto-pilot, working on very very repetitive work.
                    Then one day I discovered AWWWARDS, a website showcasing
                    some of the most incredible and interactive websites I have
                    ever seen. I was inspired to reach the same heights. I
                    thought this was a great opportunity to translate my passion
                    for design and problem-solving into an exciting new career
                    path. I initially dabbled in UX/UI design, but I wanted to
                    take it further and actually build the things I imagined.
                </p>
                <br />
                <p>
                    Coincidently, I discovered the opportunity to undertake a
                    fully-funded Full-Stack Development Bootcamp, where I
                    started my programming journey and gained proficiency in
                    React and REST APIs. Since then, I’ve expanded my skills,
                    learning additional libraries and languages such as Next.js,
                    TypeScript, and SQL to create scalable, high-performance
                    applications through personal projects like Exhibits and
                    Quizmu. My experience in architecture has helped me design
                    intuitive interfaces and create engaging user experiences,
                    all built with a system focused on structure and modularity.
                </p>
            </div>
        </div>
        <div class="carousel-controls">
            <button class="prev" onclick="moveSlide(-1)">Back</button>
            <button class="next" onclick="moveSlide(1)">Next</button>
        </div>
    </section>
</section>
