<div class="landing-container">
    <div class="polaroid">
        <div class="image-wrap">
            <div class="image-container">
                <img
                    class="animation-enter"
                    src="./assets/images/landing-pic.jpg"
                    alt="picture of author"
                />
            </div>
        </div>
        <div class="rotating-shape-container">
            <div class="rotating-shape animation-rotate-2"></div>
        </div>
    </div>
    <h1 class="section-heading">Andrew Dang</h1>
    <div class="text-red font-bold landing-text-dev">Web Developer</div>
    <div class="landing-other">
        <div class="text-blue font-bold">Architectural Designer</div>
        <div class="text-yellow font-bold">Artist</div>
    </div>
</div>
