<section class="portfolio-container">
    <h2 class="section-heading">Stuff I've Made</h2>
    <div class="portfolio-grid">
        <div class="portfolio-item">
            <video class="portfolio-img" autoplay loop muted playsinline>
                <source
                    src="/assets/images/portfolio-exhibits.mp4"
                    type="video/mp4"
                />
                video of exhibits app
            </video>
        </div>
        <div class="portfolio-item">
            <video class="portfolio-img" autoplay loop muted playsinline>
                <source
                    src="/assets/images/portfolio-quizmu.mp4"
                    type="video/mp4"
                />
                video of quizmu app
            </video>
        </div>
        <div class="portfolio-item">
            <img class="portfolio-img" src="/assets/images/portfolio-rr.gif" alt="Racket Radar screenshot" />
            </video>
        </div>
        <div class="portfolio-item">
            <img class="portfolio-img" src="/assets/images/portfolio-clippr.gif" alt="Clippr screenshot" />
            </video>
        </div>
    </div>
    <a href="https://www.andrewdang.co.uk/" target="_blank">
        <button>
            <div>Learn more at my Website</div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-right"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>
        </button>

    </a>

</section>
