.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100svh - 3rem);
}
.landing-other {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.landing-other div:last-child {
    margin-right: 2rem;
    margin-left: 2rem;
}
.name {
    font-size: 3rem;
}
.landing-other > div {
    font-size: 2rem;
    text-wrap: nowrap;
}
.landing-text-dev {
    font-size: clamp(3rem, calc(100vw / 10), 8rem);
    line-height: clamp(3rem, calc(100vw / 10), 8rem);
    text-wrap: nowrap;
}

.polaroid {
    background-color: rgb(var(--col-white));
    width: clamp(15rem, 10rem + 2.5vw, 20rem);
    aspect-ratio: 3/4;
    margin-bottom: 2rem;
    position: relative;
}
.image-wrap {
    padding: 1rem;
    width: 100%;
    aspect-ratio: 1;
}
.image-container {
    width: 100%;
    height: 100%;
    background-color: rgba(var(--col-grey), 0.5);
}
.image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rotating-shape-container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(2rem, calc(100vw / 6), 3rem);
    aspect-ratio: 1;
}
.rotating-shape {
    width: 100%;
    aspect-ratio: 1;
    background-color: rgb(var(--col-red));
}
